*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
}

nav {
  margin: 20px;
}

nav a {
  background-color: rgb(166, 166, 166);
  padding: 0 10px;
}

#featured-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#featured-property figcaption{
  text-align: center;
  margin-bottom: 20px;
}

#featured-property p {
  width: 800px;
  margin: 10px;
  text-align: center;
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
  padding: 20px;
}